@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}

.out-grid-container {
    display: grid;
    grid-template: repeat(8, 1fr) /repeat(8, 1fr);
    width: 100vw;
    height: 100vh;
}

.out-grid-item1 {
    background-color: #1e4040;
    grid-area: 1 / 1 / 2/9;
    color: #71d99e;
}
.out-grid-item1 a {
    color:#71d99e;
}

.out-grid-item2 {
    grid-area: 2 / 1 / 9 / 2;
}

.out-grid-item3 {
    grid-area: 2 / 2 / 9 / 9;
}

.inner-grid-container {
    display: grid;
    grid-template: repeat(8, 1fr) /repeat(8, 1fr);
}

.inner-grid-item1 {
    grid-area: 1 / 1 / 8/ 7;
}

.inner-grid-item2 {
    background-color:#1e4040 ;
    grid-area: 8 / 1 / 9/ 9;
}

.inner-grid-item3 {
    grid-area: 1 / 7 / 8/ 9;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    padding: 30px;
}
#asideImg{
    width: 50%;
    border-radius: 15px;
}

header{
    position: fixed;
    width: 100vw;
    z-index: 2;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.menu-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    display: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#li-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}

#li-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.nav-item a{
    color:black
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: scroll;
}

.collage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.collage-1 {
    width: 30%;
    height: 30%;
    transform: rotate(-6deg);
}

.collage-2 {
    width: 30%;
    height: 30%;
    z-index: 1;
}

.collage-3 {
    width: 30%;
    height: 30%;
    transform: rotate(6deg);
    z-index: 0;
}

.collages {
    border-radius: 15px;
    margin: -15px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#autor{
    color:#71d99e;
}
@media screen and (max-width: 1000px) {
    .inner-grid-item1 {
        grid-area: 1 / 1 / 6/ 9;
    }

    .inner-grid-item2 {
        grid-area: 8 / 1 / 9/ 9;
    }

    .inner-grid-item3 {
        grid-area: 6 / 1 / 8/9;
    }
}

@media screen and (max-width: 570px) {
    .out-grid-item2 {
        display: none;
    }
    .menu {
        margin-top: 5px;
        margin-right: 5px;
        cursor: pointer;
        display: block;
    }

    
    .out-grid-item3 {
        grid-area: 2 / 1 / 9 / 9;
    }
}